body {
    margin: 0 0px;
    background-image: url("/hw2/public/img/login/l-back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#header {
    font-size: 28px;
    height: 16vh;
    margin: 0 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

#logo {
    height: 110px;
    width: 220px;
    background-image: url("/hw2/public/img/common/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 6vw;
    margin-top: -3px;
}

#navbar {
    display: flex;
    width: 45%;
    align-items: center;
    position: absolute;
    right: 4vw;
    justify-content: space-around;
}

.nav_item {
    width: 90px;
    font-family: 'Kanit', Arial;
    font-style: italic;
    text-decoration: none;
    color: rgb(230, 0, 0);
    text-align: center;
    font-size: 0.6em;
    padding: 5px 10px;
    border: 2px solid;
    border-color: rgb(230, 0, 0);
    border-radius: 30px;
}

.nav_item:hover {
    background-color: rgba(30, 10, 206, 0.452);
}

#nav-icon {
    height: 50px;
    width: 50px;
}

#small-menu {
    width: 100px;
    height: 100px;
    margin-top: 5px;
    display: none;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    /*rimuove il background azzurro quando si clicca sull'elemento*/
    position: absolute;
    right: 5vw;
}

#long-menu {
    font-size: 30px;
    background-image: url("/hw2/public/img/home/nav-back-r.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    align-items: flex-start;
    width: 30vw;
    height: 100vh;
    position: fixed;
    right: 0%;
    top: 0%;
    border-left: 1px solid;
    border-left-color: rgb(230, 0, 0);
    z-index: 1;
}

#lm-button {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    z-index: 3;
    margin-bottom: 1.5vw;
    margin-top: 1.5vw;
}

#lm-box-link {
    display: flex;
    flex-direction: column;
    line-height: 60px;
}

a.long-menu-link {
    color: rgb(230, 0, 0);
    text-decoration: none;
    position: relative;
    left: 15px;
    z-index: 3;
}

/***MAIN****/

#general {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

#error-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.error-message {
    margin-top: 5px;
    color: rgb(230, 0, 0);
    font-size: 16px;
}
.error-message-f{
    display:block;
    margin-top: 15px;
    position:absolute;
    left:45%;
    color: rgb(230, 0, 0);
    font-size: 16px;
}

#form-error-message {
    margin-top: 25px;
    font-size: 20px;
}

#cart-box {
    margin-top: 15px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#payment-choose-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#payment-data-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#submit-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#submit-box input {
    width: 100px;
    font-size: 22px;
    padding: 5px 5px;
    border-radius: 15px;
    border: 1px solid;
    border-color: rgb(230, 0, 0);
    background-color: rgb(255, 255, 255);
}

#form-box {
    width: 100%;
}

.box {
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.label-p {
    width: 450px;
}

.label-p label {
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label-p input {
    font-size: 18px;
    width: 250px;
}

.sub-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.product-img {
    width: 150px;
    height: 150px;
}

.price {
    font-size: 22px;
}

.product-number {
    font-size: 22px;
}

.product-number select {
    font-size: 18px;
}

#payment-method {
    font-size: 22px;
    margin-bottom: 20px;
}

#payment-method select {
    font-size: 18px;
    margin-left: 10px;
}

.label-div {
    display: flex;
    align-items: center;
}

.trash {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    cursor: pointer;
}

#price-box {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.pbox-item {
    font-size: 22px;
}

#err_box {
    width: 300px;
    height: 200px;
    background-color: rgb(153, 144, 144);
    border-radius: 15px;
    position: fixed;
    left: 40%;
    top: 30%;
}

#eb_f {
    display: flex;
    justify-content: flex-end;
}

#eb_f img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-right: 15px;
}

#eb_message {
    padding-top: 50px;
    font-size: 20px;
    text-align: center;
}

a[data-id='empty-cart-link'] {
    display: flex;
    justify-content: center;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 30px;
    width: 100%;
    height: 30px;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

a[data-id='empty-cart-link']:hover {
    color: blue;
}

#t-box {
    width: 400px;
    height: 200px;
    background-color: rgb(153, 144, 144);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 35%;
    top: 30%;
}

#t-message {
    font-size: 24px;
    text-align: center;
}

#t-link {
    display: block;
    text-align: center;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 30px;
    width: 60%;
    height: 30px;
    font-size: 24px;
    text-decoration: none;
}

#t-link:hover {
    color: blue;
}

/*****FOOTER*****/

footer {
    background-color: rgb(83, 83, 83);
    font-size: 16px;
    text-align: center;
    position: relative;
    padding-bottom: 4vw;
}

#stripe {
    height: 0.2vh;
    width: 95vw;
    background-color: rgb(23, 204, 135);
    position: relative;
    top: 2vh;
    left: 2vw;
    margin-bottom: 3vh;
}

#footer-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#mini-logo-box {
    font-family: 'Kanit', Arial;
  font-style:italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

#mini-logo-box img {
    width: 10vw;
    height: 10vw;
}

span#sede {
    margin-top: -20px;
}

#footer-links-box {
    font-size: 1.2em;
}

#footer-links-box a {
    font-family: 'Kanit', Arial;
  font-style:italic;
    font-weight: bold;
    color: black;
    text-decoration: none;
    line-height: 5vw;
}

#footer-links-box a.link:hover {
    color: cornsilk;
}

#footer-links-box span#dati {
    font-family: 'Kanit', Arial;
  font-style:italic;
    font-weight: bold;
}

#box-social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 35px;
}

.social-logo {
    display: block;
    width: 5vw;
    height: 5vw;
}

#instagram-link {
    background-image: url("/hw2/public/img/common/instagram.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#facebook-link {
    background-image: url("/hw2/public/img/common/facebook.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#twitter-link {
    background-image: url("/hw2/public/img/common/twitter.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.social-logo:hover {
    width: 3vw;
    height: 3vw;
}

/*media query*/

/*desktop viewport*/

@media (min-width:1400px) {
    #header {
        font-size: 32px;
        height: 12vh;
    }
    #logo {
        height: 150px;
        width: 240px;
        background-size: contain;
        left: 6vw;
        margin-top: 3px;
    }
    .nav_item {
        width: 130px;
        font-size: 0.8em;
    }
    #nav-icon {
        height: 60px;
        width: 60px;
        margin-top: 3px;
    }
    #general {
        margin-top: 50px;
    }
    #cart-box {
        width: 70%;
    }
    .box {
        width: 85%;
    }
    .product-img {
        width: 200px;
        height: 200px;
    }
    .trash {
        width: 30px;
        height: 30px;
    }
    #price-box {
        margin-top: 30px;
        width: 35%;
    }
    #err_box {
        width: 500px;
        height: 300px;
        left: 37%;
        top: 36%;
    }
    #eb_f img {
        width: 30px;
        height: 30px;
        margin-top: 15px;
        margin-right: 15px;
    }
    #eb_message {
        padding-top: 100px;
        font-size: 22px;
    }
    #payment-method select option {
        font-size: 18px;
    }
}

/*Tablet viewport*/

@media (max-width:1080px) {
    #navbar {
        display: none;
    }
    #small-menu {
        display: block;
    }
    #small-menu img {
        width: 10vw;
        height: 10vw;
    }
    #long-menu img {
        width: 6vw;
        height: 6vw;
    }
    #lm-button {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #lm-box-link {
        font-size: 22px;
        line-height: 55px;
    }
    #payment-method select option {
        font-size: 18px;
    }
    #mini-logo-box img {
        width: 15vw;
        height: 15vw;
    }
    #mini-logo-box span {
        font-size: 1em;
    }
    #footer-links-box {
        font-size: 1.3em;
    }
    #box-social {
        margin-bottom: 20px;
    }
}

/*large smartphone viewport*/

@media (max-width:855px) {
    #header {
        height: 115px;
    }
    #long-menu img {
        width: 50px;
        height: 50px;
    }
    .social-logo {
        width: 40px;
        height: 40px;
    }
    .box {
        margin-right: 50px;
        margin-left: 50px;
    }
    #products-box {
        margin-left: 50px;
        margin-right: 50px;
    }
    .label-p label {
        font-size: 18px;
    }
    .label-p input {
        font-size: 16px;
        width: 200px;
    }
    .price {
        font-size: 18px;
    }
    .product-number {
        font-size: 18px;
    }
    .product-number select {
        font-size: 16px;
    }
    #payment-method {
        font-size: 18px;
        margin-top: 10px;
    }
    #payment-data-box h2 {
        font-size: 22px;
    }
    #payment-method select {
        font-size: 18px;
        margin-left: 10px;
    }
    #price-box {
        margin-top: 30px;
        width: 40%;
    }
    #err_box {
        left: 35%;
        top: 36%;
    }
}

/*medium-large smartphone viewport*/

@media (max-width:680px) {
    #logo {
        height: 150px;
        width: 210px;
        left: 6vw;
        margin-top: -3px;
    }
    #small-menu img {
        width: 80px;
        height: 80px;
    }
    #header {
        height: 110px;
    }
    #lm-button {
        margin-top: 25px;
        margin-bottom: 20px;
    }
    #lm-box-link {
        font-size: 18px;
        line-height: 45px;
    }
    .box {
        margin-right: 50px;
        margin-left: 50px;
    }
    .product-img {
        width: 120px;
        height: 120px;
    }
    #err_box {
        width: 250px;
        height: 175px;
        left: 30%;
        top: 20%;
    }
    #eb_message {
        font-size: 16px;
    }
    .label-p {
        width: 350px;
    }
    #submit-box input {
        width: 75px;
        font-size: 16px;
    }
    footer {
        font-size: 14px;
    }
    #stripe {
        margin-bottom: 40px;
    }
    #mini-logo-box img {
        width: 80px;
        height: 80px;
    }
    #footer-links-box a {
        line-height: 55px;
    }
    #box-social {
        margin-bottom: 15px;
    }
}

/*smartphone viewport*/

@media (max-width:500px) {
    #header {
        height: 80px;
    }
    #logo {
        background-size: contain;
        height: 100px;
        width: 140px;
    }
    #small-menu img {
        width: 70px;
        height: 70px;
    }
    #small-menu {
        right: 30px;
    }
    #long-menu {
        font-size: 24px;
        width: 200px;
    }
    #lm-button {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    #lm-box-link {
        line-height: 35px;
    }
    .box {
        margin-right: 20px;
        margin-left: 20px;
    }
    #products-box {
        margin-left: 20px;
        margin-right: 20px;
    }
    .product-img {
        width: 80px;
        height: 80px;
    }
    #err_box {
        width: 250px;
        height: 175px;
        left: 25%;
        top: 20%;
    }
    .label-p {
        width: 300px;
    }
    .label-p label {
        font-size: 14px;
    }
    .label-p input {
        font-size: 14px;
        width: 150px;
    }
    .price {
        font-size: 14px;
    }
    .product-number {
        font-size: 14px;
    }
    .product-number select {
        font-size: 12px;
    }
    #payment-method {
        font-size: 14px;
        margin-top: 10px;
    }
    #payment-data-box h2 {
        font-size: 18px;
    }
    #payment-method select {
        font-size: 14px;
        margin-left: 10px;
    }
    .pbox-item {
        font-size: 18px;
    }
    #stripe {
        margin-bottom: 30px;
    }
    #mini-logo-box img {
        width: 70px;
        height: 70px;
    }
    span#sede {
        margin-top: -10px;
    }
    #footer-links-box a {
        line-height: 45px;
    }
    #mini-logo-box {
        font-size: 0.48em;
    }
    #footer-links-box {
        font-size: 0.7em;
    }
    #footer-links-box a#dati {
        font-size: 1em;
    }
}

/*small smartphone viewport*/

@media (max-width:360px) {
    #logo {
        height: 80px;
        width: 120px;
    }
    #small-menu img {
        width: 60px;
        height: 60px;
    }
    #small-menu {
        right: 25px;
    }
    #long-menu {
        font-size: 20px;
        width: 144px;
    }
    #lm-button {
        margin-top: 12px;
        margin-bottom: 8px;
    }
    #long-menu img {
        width: 60px;
        height: 60px;
    }
    #stripe {
        margin-bottom: 30px;
    }
    #mini-logo-box img {
        width: 65px;
        height: 65px;
    }
    span#sede {
        margin-top: -10px;
    }
    .social-logo {
        width: 30px;
        height: 30px;
    }
    .social-logo:hover {
        width: 30px;
        height: 30px;
    }
}

/***UTILITY****/

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.no-scroll {
    overflow: hidden;
}